body{background: url(../images/wlc.jpg);
background-repeat:no-repeat;
background-size:cover;
 background-attachment: fixed;
font-family: 'Open Sans', sans-serif;
    
    display:blocK;

}

#ana1{margin-bottom:25px;

}

h1{
color:red;}


.ab{
text-align:center;}